<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

      <!-- Se cambia el contenido del Call to Action del Footer   -->
        <a href="http://www.kpisthatmatter.com/oeeapp"
           target="_blank" mat-button class="mat-red-bg" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">shopping_cart</mat-icon>
            <span>Compre OeeApp</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button href="http://www.kpisthatmatter.com/docs" target="_blank">Documentación</a>
            <span>&bull;</span>
            <a mat-button href="http://www.kpisthatmatter.com/changelog" target="_blank">Changelog</a>
        </div>

    </div>

</mat-toolbar>
