<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    
    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let stop">
            <mat-checkbox [(ngModel)]="checkboxes[stop.stopId]" (ngModelChange)="onSelectedChange(stop.stopId)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container cdkColumnDef="stopId">
        <mat-header-cell *cdkHeaderCellDef>Id</mat-header-cell>
        <mat-cell *cdkCellDef="let stop">
            <p class="text-truncate font-weight-600">{{stop.stopId}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="stopName">
        <mat-header-cell *cdkHeaderCellDef>Parada</mat-header-cell>
        <mat-cell *cdkCellDef="let stop">
            <p class="text-truncate font-weight-600">{{stop.stopName}}</p>
        </mat-cell>
    </ng-container>

     <!-- Type Column -->
     <ng-container cdkColumnDef="stopType">
        <mat-header-cell *cdkHeaderCellDef>Tipo Parada</mat-header-cell>
        <mat-cell *cdkCellDef="let stop">
            <p class="text-truncate font-weight-600">{{stop.stopType}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="stopResEmail">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Res Email</mat-header-cell>
        <mat-cell *cdkCellDef="let stop" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{stop.stopResEmail}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let stop">
            <div fxFlex="row" fxLayoutAlign="end center">
                
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteContact(stop)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>    

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let stop; columns: displayedColumns;"
             class="contact"
             (click)="editContact(stop)"
             [ngClass]="{'mat-light-blue-50-bg':checkboxes[stop.stopId]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


